<form>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="titleInput" placeholder="Awesome Note Title">
    <label for="body">Note</label>
    <textarea class="form-control" id="bodyInput" rows="3"></textarea>
  </div>
</form>
