{{>message this}}
<a class="btn btn-success float-right mr-5" href="/notes/{{this.id}}">New Note</a>
<table class="table table-hover">
  <thead>
    <th class="border-0">Title</th>
  </thead>
  <tbody>
    {{#each notes}} 
      <tr>
        <td>{{this.title}}</td>
        <td>
          <form method="POST" action="/notes/{{this.id}}?_method=DELETE">
            <input class="btn btn-danger" type="submit" value="Delete" />
          </form>
        <td>
          <a class="btn btn-primary" href="/notes/{{this.id}}">Update</a>
        </td>
        </td>
      </tr> 
    {{/each}} 
  </tbody>
</table>

