{{>message this}}
 <form method="POST" action="/notes/new">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="Awesome Note Title" value="{{this.title}}">
  </div>
  <div class="form-group">
    <label for="body">Note</label>
    <textarea class="form-control" id="body" name="body" rows="3">{{this.body}}</textarea>
  </div>
    <input type="submit" value="Save" class="btn btn-primary mt-4"/>
  </div>
</form>
