{{>message this}}
{{#if this.id}}
  <form method="POST" action="/notes/{{this.id}}?_method=PUT" enctype="application/x-www-form-urlencoded"/>
{{else}}
  <form method="POST" action="/notes/new">
{{/if}}
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="Awesome Note Title" value="{{this.title}}" required>
  </div>
  <div class="form-group">
    <label for="body">Note</label>
    <textarea class="form-control" id="body" name="body" rows="3" required>{{this.body}}</textarea>
  </div>
    <input type="submit" value="Save" class="btn btn-primary mt-4"/>
  </div>
</form>
