  {{#each messages.info}} 
    <div class="alert alert-info">{{this}}</div>
  {{/each}} 
  {{#each messages.danger}} 
    <div class="alert alert-danger">{{this}}</div>
  {{/each}} 
<table class="table">
  <thead>
    <th>Title</th>
    <th></th>
  </thead>
  <tbody>
    {{#each notes}} 
      <tr>
        <td>{{this.title}}</td>
        <td>
          <form method="post" action="/notes/{{this.id}}?_method=DELETE" enctype="application/x-www-form-urlencoded">
            <input class="btn btn-danger" type="submit" value="Delete" />
          </form>
        </td>
      </tr> 
    {{/each}} 
  </tbody>
</table>

