<table class="table">
  <thead>
    <th>Title</th>
    <th></th>
  </thead>
  <tbody>
    {{#each notes}} 
      <tr>
        <td>{{this.title}}</td>
        <td>Buttons here</td>
      </tr> 
    {{/each}} 
  </tbody>
</table>

