<form method="POST" action="/notes/new">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="titleInput" placeholder="Awesome Note Title">
  </div>
  <div class="form-group">
    <label for="body">Note</label>
    <textarea class="form-control" id="bodyInput" rows="3"></textarea>
  </div>
    <input type="submit" value="Create Note" class="btn btn-primary mt-4"/>
  </div>
</form>
