<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Notes</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/stylesheet.css" type="text/css"/>
</head>
<body class="bg-light">
  <header class="d-flex justify-content-center navbar navbar-default border-bottom bg-white box-shadow">
    <a class="navbar-brand" href="/">Lehman Notes</a>
  </header>
  <main class="container mt-4">
    {{{body}}}
  </main>
</body>
</html>
