<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Notes</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/stylesheet.css" type="text/css"/>
</head>
<body>
  {{{body}}}
</body>
</html>
